@font-face {
  font-family: "Karla";
  src: url("./fonts/Karla-Regular.ttf");
}
@font-face {
  font-family: "karla-light";
  src: url("./fonts/Karla-Light.ttf");
}
:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --Grayish-Blue: hsl(218, 22%, 67%);
  --White: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}
body {
  background-color: var(--Light-Gray);
}
main,
.card-button {
  border-radius: 0.3125rem;
}
main {
  display: flex;
  flex-flow: row wrap;
  margin: 4.375rem 2rem;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.105);
}
.card {
  flex-basis: 100%;
  padding: 1.875rem 1.5625rem;
  display: flex;
  flex-flow: column wrap;
}

.card-title,
.card-subtitle span,
.card-button {
  color: var(--White);
}
.card:nth-of-type(1) {
  background-color: var(--White);
}
.card:nth-of-type(2) {
  background-color: var(--Cyan);
}
.card:nth-of-type(3) {
  background-color: hsl(179, 47%, 52%);
}
.card-title {
  font-size: 1.15rem;
  font-weight: 100;
  letter-spacing: 0.06rem;
}
.card:first-of-type .card-title {
  color: var(--Cyan);
  font-weight: 700;
}
.card-subtitle,
.card-text,
.card-button {
  margin-top: 1.875rem;
}
.card-subtitle,
.card-text {
  color: var(--Light-Gray);
}
.card:nth-of-type(2) .card-text {
  margin-top: 0.5rem;
}
.card-subtitle {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.card-subtitle span {
  font-size: 2rem;
}
.card-subtitle sub {
  font-family: "karla-light", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0.05rem;
}
.card:first-of-type .card-subtitle {
  color: var(--Bright-Yellow);
}
.card-text {
  font-size: 0.875rem;
  line-height: 1.5625rem;
  color: var(--Light-Gray);
}
.card:first-of-type .card-text {
  color: var(--Grayish-Blue);
}
.card:last-of-type .card-text {
  display: flex;
  flex-flow: column wrap;
}
.card-button {
  background-color: var(--Bright-Yellow);
  border: none;
  width: 100%;
  padding: 1rem 0;
  font-size: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.205);
}
@media (min-width: 768px) {
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    width: 40rem;
  }
  .card {
    padding: 2.55rem;
  }
  .card:nth-of-type(2),
  .card:nth-of-type(3) {
    flex-basis: 50%;
  }
  .card:first-of-type .card-title {
    font-size: 1.5rem;
  }
  .card:first-of-type .card-subtitle {
    font-size: 1.15rem;
  }
  .card:first-of-type .card-text {
    font-size: 1rem;
  }
  .card:nth-of-type(3) .card-text {
    font-family: "karla-light", sans-serif;
    line-height: 1.3625rem;
  }
  .card-subtitle,
  .card-text,
  .card-button {
    margin-top: 1.25rem;
  }
}
