.card-subtitle span {
  color: white;
}
.card:nth-of-type(2) {
  background-color: var(--Cyan);
}
.card:first-of-type .card-title {
  color: var(--Cyan);
  font-weight: 700;
}
.card:nth-of-type(2) .card-text {
  margin-top: 0.5rem;
}

.card-subtitle span {
  font-size: 2rem;
}
.card:first-of-type .card-subtitle {
  color: var(--Bright-Yellow);
}
.card:first-of-type .card-text {
  color: var(--Grayish-Blue);
}
.card:last-of-type .card-text {
  display: flex;
  flex-flow: column wrap;
}
@media (min-width: 768px) {
  .card:first-of-type .card-title {
    font-size: 1.5rem;
  }
  .card:first-of-type .card-subtitle {
    font-size: 1.15rem;
  }
  .card:first-of-type .card-text {
    font-size: 1rem;
  }
  .card:nth-of-type(3) .card-text {
    line-height: 1.3625rem;
  }
}
